<!-- The decoration banner used all over the application -->
<template>
  <div>
    <div class="banner1"></div>
  </div>
</template>
<script>
export default {};
</script>
<style>
.banner1 {
  width: 100%;
  height: 100vh;
  background-color: #2d898b;
  clip-path: polygon(100% 15%, 100% 40%, 0 70%, 0 64%);
  z-index: -9999;
  position: absolute;
  top: 10vh;
}
</style>