<!-- The footer used over the entire application -->
<template>
  <div>
    <footer>
      <div class="d-flex flex-row justify-content-between">
        <router-link
          class="text-decoration-none text-dark fw-bold left-content"
          to="/about"
          >Om sidan</router-link
        >
        <div class="d-flex flex-column text-end right-content">
          <a
            class="text-decoration-none text-dark fw-bold"
            href="mailto:mikael_larsson84@hotmail.com"
            >Kontakta oss</a
          >
          <p class="">&copy; Copyright - Mikael Larsson - 2022</p>
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
export default {};
</script>
<style>
footer {
  background: #f2ba79;
  height: 4em;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
}

.left-content {
  margin-top: 1.5em;
  margin-left: 2em;
}
.right-content {
  margin-right: 2em;
  margin-top: 0.5em;
}
</style>