<!-- The navbar that displays all over the application -->
<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <router-link class="navbar-brand" to="/"
          ><img :src="'../../../storage/images/logo.png'" alt="Vendere Trestad"
        /></router-link>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <router-link class="nav-link active" aria-current="page" to="/"
                >Home</router-link
              >
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Kategorier
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <router-link class="dropdown-item" to="/"
                    >Alla Kategorier</router-link
                  >
                </li>
                <li>
                  <router-link class="dropdown-item" to="/hem-och-fritid"
                    >Hem och Fritid</router-link
                  >
                </li>
                <li>
                  <router-link class="dropdown-item" to="/fordon"
                    >Fordon</router-link
                  >
                </li>
                <li>
                  <router-link class="dropdown-item" to="/elektronik"
                    >Elektronik</router-link
                  >
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav me-2 mb-2 mb-lg-0">
            <div class="navbar-nav me-2 mb-2 mb-lg-0" v-if="getUser">
                <!--Only shown if logged in user is an administator. Value collected from Vuex/store-->
              <li class="nav-item" v-if="this.$store.getters.isAdmin == true">
                <router-link class="nav-link" to="/admin">
                  ADMINISTRATÖR
                </router-link>
              </li>
              <li v-if="this.$store.getters.isAdmin == true" class="nav-link">
                |
              </li>
                <!--Only shown if user is logged in. Value collected from Vuex/store-->
              <li class="nav-item">
                <router-link class="nav-link" to="/profil"
                  >{{ this.user.name }}
                </router-link>
              </li>
              <li class="nav-link">|</li>
              <li class="nav-item">
                <router-link class="nav-link" to="/salj"
                  >Lägg upp ny annons
                </router-link>
              </li>
              <li class="nav-link">|</li>
              <li class="nav-item">
                <router-link class="nav-link" to="/logga-ut"
                  >Logga ut</router-link
                >
              </li>
            </div>
            <div v-else>
              <li class="nav-item">
                <router-link class="nav-link" to="/logga-in"
                  >Logga in</router-link
                >
              </li>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>
<script>

export default {
  data() {
    return {
      user: {},
    };
  },
  computed: {
    getUser() {
      // Get value from Vuex/store
      this.user = this.$store.getters.user;
      return this.user;
    },
  },

  watch: {
    route() {
      $("#navbarCollapse").collapse("hide");
    },
  },
};
</script>
<style>
.navbar,
.dropdown-menu,
.dropdown-item {
  background-color: #f2ba79;
}
.navbar {
  height: 4.5em;
}
.dropdown-item.active {
  background-color: #f2ba79;
}
.nav-item {
  color: #212121;
}
</style>