<!-- This component is not used in the project, but is something that could be added in the future after more developing. The pagination logic for the ads views -->
<template>
  <div v-if="pages" !="null">
    <div v-for="page in pages" :key="page">
      <div class="d-flex justify-content-center mt-4">
        <nav>
          <ul class="pagination col">
            <h1></h1>
            <li
              v-bind:class="[{ disabled: !page.prev_page_url }]"
              class="page-item"
            >
              <a
                class="page-link"
                href="#"
                @click="this.sendBack(page.first_page_url)"
                >Första</a
              >
            </li>
            -->
            <li
              v-bind:class="[{ disabled: !page.prev_page_url }]"
              class="page-item"
            >
              <a
                class="page-link"
                href="#"
                @click="this.sendBack(page.prev_page_url)"
                ><ion-icon name="chevron-back-outline"></ion-icon
              ></a>
            </li>
            <li class="page-item disabled">
              <a href="#" class="page-link text-dark"
                >Page {{ page.current_page }} of {{ page.last_page }}</a
              >
            </li>
            <li
              v-bind:class="[{ disabled: !page.next_page_url }]"
              class="page-item"
            >
              <a
                class="page-link"
                href="#"
                @click="this.sendBack(page.next_page_url)"
                ><ion-icon name="chevron-forward-outline"></ion-icon
              ></a>
            </li>
            <li
              v-bind:class="[{ disabled: !page.next_page_url }]"
              class="page-item"
            >
              <a
                class="page-link"
                href="#"
                @click="this.sendBack(page.last_page_url)"
                >Sista</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["pages"],
  data() {
    return {
      urls: null,
    };
  },
  mounted() {
    this.urls = this.pages;
    console.log(this.items);
  },
  methods: {
    sendBack(pageUrl) {
      this.$emit("change", pageUrl);
    },
  },
};
</script>