<!-- The components showing each product from the database. -->
<template>
  <div class="container">
    <product-modal
      v-if="!modalVisible"
      :product="modalData"
      id="myModal"
    ></product-modal>
    <div v-for="item in items" :key="item.id">
      <div class="card d-inline-flex flex-row m-2" v-if="item.user !== null">
        <img class="p-1 img-fluid" :src="`/storage/images/${item.img_URL}`" />
        <div class="d-flex flex-column align-self-center col">
          <h3 class="card-title">{{ item.product }}</h3>
          <h4 class="card-subtitle">{{ item.price }} kr</h4>
          <h4 class="card-subtitle mt-2 city">{{ item.user.municipality }}</h4>
        </div>
        <!-- Get user value from Vuex/store  -->
        <div class="me-5 align-self-center" v-if="$store.state.user">
          <!-- Opens modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
            @click="itemClicked(item)"
          >
            Läs mer
          </button>
        </div>
        <div v-else class="me-5 align-self-center">
          <button class="btn btn-primary">
            <router-link to="/logga-in" class="login">
              Logga in för att se mer</router-link
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ProductModal from "./ProductModal.vue";

export default {
  data() {
    return {
      modalData: null,
      modalVisible: false,
    };
  },

  props: ["items"],

  components: { ProductModal },

  methods: {
    itemClicked(data) {
      this.modalData = data;
      this.modalClicked = true;
    },
  },
};
</script>
<style >
.card {
  min-width: 60%;
  height: 12em;
  border: 1px solid #212121;
  font-family: "Cabin", sans-serif;
}
.card-subtitle {
  font-size: 1.3rem;
}
.city {
  font-size: 1rem;
}
.btn {
  height: 3em;
}
.login {
  text-decoration: none;
  color: white;
}

.login:hover {
  text-decoration: none;
  color: white;
}
</style>