<!-- The modal showing more product info -->
<template>
  <div class="modal" tabindex="-1" role="”dialog”">
    <div class="modal-dialog" role="document">
      <div v-if="product" class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title">{{ product.product }}</h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body text-left">
          <img
            class="p-1 img-fluid"
            :src="`/storage/images/${product.img_URL}`"
          />
          <hr />
          <div class="text-start">
            <p class="">
              Pris: <strong>{{ product.price }} kr</strong>
            </p>
            <p>
              Skick: <strong>{{ product.condition }}</strong>
            </p>

            <hr />
            <section>
              {{ product.description }}
            </section>
            <hr />

            <p>
              Finns i: <strong>{{ product.user.municipality }}</strong>
            </p>
            <p>
              Säljare: <strong>{{ product.user.name }}</strong>
            </p>
            <p>
              Telefon: <strong>{{ product.user.telephone }}</strong>
            </p>
            <p>
              Email:
              <a
                class="text-decoration-none text-dark"
                :href="'mailto:' + product.user.email"
              >
                <strong class="email"> {{ product.user.email }}</strong></a
              >
            </p>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["product"],
};
</script>
<style>
</style>