<!-- The card showing each item that belongs to a user. -->
<template>
  <div class="container">
    <div class="card d-inline-flex flex-row m-2">
      <img class="p-1" :src="`/storage/images/${item.img_URL}`" />
      <div class="d-flex flex-column align-self-center col">
        <h3 class="card-title">{{ item.product }}</h3>
        <h4 class="card-subtitle">{{ item.price }} kr</h4>
        <h4 class="card-subtitle mt-2 city">{{ item.municipality }}</h4>
      </div>
      <!-- Imported trash can symbol -->
      <ion-icon
        name="trash-outline"
        @click="deleteProduct()"
        class="btn btn-danger me-5 align-self-center"
      ></ion-icon>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  props: ["item"],

  methods: {
    deleteProduct() {
      axios
        .delete("api/product/" + this.item.id)
        .then((response) => {
          if (response.status == 200) {
            // Send info to parent to reload the list of ads
            this.$emit("reloadList");
          }
          alert("Du har tagit bort en produkt");
        })
        .catch((error) => console.log(error));
    },
  },
};
</script>
<style scoped>
.card {
  min-width: 40%;
  height: 12em;
  border: 1px solid #212121;
  font-family: "Cabin", sans-serif;
}
.card-subtitle {
  font-size: 1.3rem;
}
.city {
  font-size: 1rem;
}
.btn {
  height: 3em;
}
ion-icon {
  width: 2em;
  aspect-ratio: 1/1;
}
</style>