<!-- About the page view -->

<template>
  <div>
    <article class="shadow bg-light shadow text-start w-50 p-4 about">
      <p>Hej!</p>

      <p>
        Jag heter Mikael Larsson, bor i Vänersborg, och har studerat till
        utvecklare på Campus Mölndal 2020-2022.
      </p>

      <p>
        Denna sida är skapad som ett examensarbete, där jag har använt
        PHP-ramverket Laravel för backend, JavaScript-ramverket Vue för frontend
        samt MySQL för databas.
      </p>

      <p>
        Kika gärna på min
        <a
          class="text-decoration-none text-dark fw-bold"
          href="http://mikaellarsson.netlify.com"
          target="blank"
          >portfolio</a
        >
        för mer information.
      </p>
    </article>
  </div>
</template>
<script>
export default {};
</script>
<style>
.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>