<!-- This page is only visible for admins. Shows user information. -->

<template>
  <div>
    <h1>För administratörer</h1>
    <button class="btn btn-secondary" @click="getAllUsers">
      Visa alla användare
    </button>
    <button class="btn btn-secondary" @click="getMostSeller">
      Visa användare med flest annonser
    </button>
    <div
      class="users-list p-3 mt-4 text-start shadow"
      v-for="user in allUsers"
      :key="user.id"
    >
      <span>
        ID: {{ user.id }} <br />
        Namn: {{ user.name }} <br />
        Email: {{ user.email }} <br />
        Kommun: {{ user.municipality }} <br />
        Telefon: {{ user.telephone }} <br />
        Är administratör:
        <span v-if="user.is_admin == 0">Nej</span>
        <span v-else>Ja</span><br />
        <span v-if="user.productCount"
          >Antal produktannonser: {{ user.productCount }}<br
        /></span>
        <br />
      </span>
      <button class="btn btn-danger" @click="deleteUser(user.id)">
        Ta bort
      </button>
      <br />
      <br />
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      allUsers: [],
      singleUser: {},
    };
  },
  methods: {
    getAllUsers() {
      axios
        .get("/api/users")
        .then((response) => {
          this.allUsers = response.data.data;
          console.log(this.allUsers);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getMostSeller() {
      axios
        .get("/api/users/productcount")
        .then((response) => {
          this.allUsers = response.data;
          console.log(this.allUsers);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    deleteUser(userId) {
      axios
        .delete("api/user/" + userId)
        .then((response) => {
          alert("Användare borttagen.");
          this.getAllUsers();
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
<style>
.users-list {
  width: 20%;
  border-radius: 3px;
  margin: auto;
  list-style-type: none;
  background-color: white;
}
</style>