<!-- The page showing all products from the segment "Hem och Fritid". -->
<template>
  <div>
    <h1 v-if="items[0]">{{ items[0].segment }}</h1>
    <div class="d-flex justify-content-center mt-4">
      <!-- The pagination option -->
      <nav>
        <ul class="pagination col">
          <li
            v-bind:class="[{ disabled: !pagination.prev_page_url }]"
            class="page-item"
          >
            <a
              class="page-link"
              href="#"
              @click="getProducts(pagination.first_page_url)"
              >Första</a
            >
          </li>
          <li
            v-bind:class="[{ disabled: !pagination.prev_page_url }]"
            class="page-item"
          >
            <a
              class="page-link"
              href="#"
              @click="getProducts(pagination.prev_page_url)"
              ><ion-icon name="chevron-back-outline"></ion-icon
            ></a>
          </li>
          <li class="page-item disabled">
            <a href="#" class="page-link text-dark"
              >Page {{ pagination.current_page }} of
              {{ pagination.last_page }}</a
            >
          </li>
          <li
            v-bind:class="[{ disabled: !pagination.next_page_url }]"
            class="page-item"
          >
            <a
              class="page-link"
              href="#"
              @click="getProducts(pagination.next_page_url)"
              ><ion-icon name="chevron-forward-outline"></ion-icon
            ></a>
          </li>
          <li
            v-bind:class="[{ disabled: !pagination.next_page_url }]"
            class="page-item"
          >
            <a
              class="page-link"
              href="#"
              @click="getProducts(pagination.last_page_url)"
              >Sista</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <product-card :items="items" />
  </div>
</template>
<script>
import axios from "axios";
import ProductCard from "../components/ProductCard.vue";
export default {
  data: function () {
    return {
      items: [],
      pagination: {},
      //The segment value is translated to readable value in the api.
      segment: 1,
    };
  },

  created() {
    this.getProducts();
  },
  components: { ProductCard },

  methods: {
    getProducts(page_url) {
      let vm = this;
      page_url = page_url || "/api/products/" + this.segment;
      axios
        .get(page_url)
        .then((response) => {
          this.items = response.data.data;
          vm.makePagination(response.data, response.data.links);
          console.log(this.items);
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    //Sets all the data for the pagination option
    makePagination(data) {
      let pagination = {
        current_page: data.current_page,
        first_page: 1,
        last_page: data.last_page,
        first_page_url: data.first_page_url,
        last_page_url: data.last_page_url,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url,
      };
      this.pagination = pagination;
    },
  },
};
</script>
