<!-- The page showing all products from all segments. The landing page. -->
<template>
  <div>
    <h1>Alla Kategorier</h1>
    <!-- Search bar -->
    <label for="search" class="fw-bold mt-4">Sök efter produkt: </label>
    <input
      type="text"
      id="search"
      class="rounded search"
      @change.prevent="search"
    />
    <button class="btn btn-success" @click.prevent="search">Sök</button>
    <button class="btn btn-primary" @click="reloadProducts">
      Alla Kategorier
    </button>
    <div class="d-flex justify-content-center mt-4" v-if="this.pages != null">
       <!-- The pagination option -->
      <nav>
        <ul class="pagination col">
          <li
            v-bind:class="[{ disabled: !pages.prev_page_url }]"
            class="page-item"
          >
            <a
              class="page-link"
              href="#"
              @click="getProducts(pages.first_page_url)"
              >Första</a
            >
          </li>
          <li
            v-bind:class="[{ disabled: !pages.prev_page_url }]"
            class="page-item"
          >
            <a
              class="page-link"
              href="#"
              @click="getProducts(pages.prev_page_url)"
              ><ion-icon name="chevron-back-outline"></ion-icon
            ></a>
          </li>
          <li class="page-item disabled">
            <a href="#" class="page-link text-dark"
              >Page {{ pages.current_page }} of {{ pages.last_page }}</a
            >
          </li>
          <li
            v-bind:class="[{ disabled: !pages.next_page_url }]"
            class="page-item"
          >
            <a
              class="page-link"
              href="#"
              @click="getProducts(pages.next_page_url)"
              ><ion-icon name="chevron-forward-outline"></ion-icon
            ></a>
          </li>
          <li
            v-bind:class="[{ disabled: !pages.next_page_url }]"
            class="page-item"
          >
            <a
              class="page-link"
              href="#"
              @click="getProducts(pages.last_page_url)"
              >Sista</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <product-card :items="items" />
    <div class="d-flex justify-content-center mt-4" v-if="this.pages != null">
       <!-- The pagination option -->
      <nav>
        <ul class="pagination col">
          <li
            v-bind:class="[{ disabled: !pages.prev_page_url }]"
            class="page-item"
          >
            <a
              class="page-link"
              href="#"
              @click="getProducts(pages.first_page_url)"
              >Första</a
            >
          </li>
          <li
            v-bind:class="[{ disabled: !pages.prev_page_url }]"
            class="page-item"
          >
            <a
              class="page-link"
              href="#"
              @click="getProducts(pages.prev_page_url)"
              ><ion-icon name="chevron-back-outline"></ion-icon
            ></a>
          </li>
          <li class="page-item disabled">
            <a href="#" class="page-link text-dark"
              >Page {{ pages.current_page }} of {{ pages.last_page }}</a
            >
          </li>
          <li
            v-bind:class="[{ disabled: !pages.next_page_url }]"
            class="page-item"
          >
            <a
              class="page-link"
              href="#"
              @click="getProducts(pages.next_page_url)"
              ><ion-icon name="chevron-forward-outline"></ion-icon
            ></a>
          </li>
          <li
            v-bind:class="[{ disabled: !pages.next_page_url }]"
            class="page-item"
          >
            <a
              class="page-link"
              href="#"
              @click="getProducts(pages.last_page_url)"
              >Sista</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import ProductCard from "../components/ProductCard.vue";

export default {
  data() {
    return {
      items: [],
      pages: {},
      user: {},
    };
  },
  // Gets all the products on page loading
  created() {
    this.getProducts();
  },

  components: { ProductCard },

  methods: {
    getProducts(page_url) {
      let vm = this;
      page_url = page_url || "/api/products";
      axios
        .get(page_url)
        .then((response) => {
          this.items = response.data.data;
          vm.makePagination(response.data, response.data.links);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    //Sets all the data for the pagination option
    makePagination(data) {
      let pagination = {
        current_page: data.current_page,
        first_page: 1,
        last_page: data.last_page,
        first_page_url: data.first_page_url,
        last_page_url: data.last_page_url,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url,
      };
      this.pages = pagination;
    },
    // Takes the searched input and gets all products corresponding the value
    search(event) {
      this.pages = null;
      let vm = this;
      axios
        .get("api/products/search/" + event.target.value)
        .then((response) => {
          this.items = response.data.data;
          console.log(response.data.data);
          vm.makePagination(response.data, response.data.links);
        })
        .catch((error) => {
          this.errors = error.response.data.errors;
        });
    },
    // Get all the products in all segments on click
    reloadProducts() {
      this.getProducts();
    },
  },
};
</script>

<style>
body {
  text-align: center;
  background-color: #c1dff0;
  margin-bottom: 8em;
  color: #252525;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 6em;
}
.search {
  width: 20em;
}
.title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.sub {
  font-size: 1.5rem;
}
</style>