 <!-- The login user page -->
<template>
  <div>
    <h1>Logga in</h1>
    <div class="container p-4">
      <div class="login">
        <div class="shadow text-start">
          <form class="form-control p-3">
            <br />
            <label for="email" value="Din emailadress" class="text-start ms-0"
              >Din emailadress</label
            >
            <br />
            <input
              v-model="userLogin.email"
              type="email"
              id="email"
              placeholder="Din emailadress"
              required="true"
              class="m-1"
            />
            <br />
            <label for="password" value="Ditt lösenord">Ditt lösenord</label>
            <br />
            <input
              v-model="userLogin.password"
              type="password"
              id="password"
              placeholder="Ditt lösenord"
              required="true"
              class="m-1"
            />
            <br />
            <!-- Input errors -->
            <span class="text-danger" v-if="errors">{{ errors.password }}</span>
            <span class="text-danger" v-if="errors">{{ errors.email }}</span>

            <div class="d-flex justify-content-around">
              <button
                @click.prevent="login"
                :class="[
                  userLogin.email && userLogin.password
                    ? 'btn-primary'
                    : 'btn-inactive',
                  'btn m-4 ',
                ]"
              >
                Logga in
              </button>

              <router-link to="/registrera" class="align-self-center">
                <button class="btn btn-secondary">
                  Registrera ny användare
                </button></router-link
              >
            </div>
            <br />
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data: function () {
    return {
      userLogin: {
        email: "",
        password: "",
      },
      user: {},

      errors: null,
    };
  },
  mounted() {
    this.userLogin.email = null;
    this.userLogin.password = null;
  },

  methods: {
    login() {
      if (this.userLogin.email == "" && this.userLogin.password == "") {
        return;
      }
      //Gets a new csrf token to avoid hacker attacks
      axios.get("/sanctum/csrf-cookie").then((response) => {
        //Get the authenticated user and sets it to the global vuex variable.
        axios
          .post("/api/login", this.userLogin)
          .then((response) => {
            this.$store.state.userLoggedIn = true;
            this.$store.state.user = response.data;
            if (response.data.is_admin === true) {
              this.$store.state.userIsAdmin = true;
            }
            //Sends user back to landing page
            this.$router.push("/");
          })
          .catch((error) => {
            this.errors = error.response.data.errors;
          });
      });
    },
  },
};
</script>
<style scoped>
.container {
  width: 100%;
}

.login {
  width: 50%;
  margin: auto;
}
.btn-active {
  background-color: #00ce25;
}
.btn-inactive {
  background-color: #999999;
}
.register {
  color: #252525;
}
</style>