 <!-- The logout user page -->
<template>
  <div>
    <div class="logout p-5 rounded shadow">
      <!-- User value collected from Vuex/store -->
      <p>
        Du är inloggad som <strong>{{ this.$store.state.user.name }}</strong>
      </p>
      <button @click="logout()" class="btn btn-danger">Logga ut</button>
      <button @click="$router.back()" class="btn btn-primary">Tillbaka</button>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  methods: {
    logout() {
      //Gets a new csrf token to avoid hacker attacks
      axios.get("/sanctum/csrf-cookie").then((response) => {
        //Logs out the authenticated user and sets vuex variables to default.
        axios
          .get("api/logout")
          .then((response) => {
            console.log(response);
            this.$store.state.user = null;
            this.$store.state.userLoggedIn = false;
            this.$store.state.userIsAdmin = false;
            this.$router.push("/logga-in");
          })
          .catch((error) => console.error(error));
      });
    },
  },
};
</script>
<style>
.logout {
  background-color: white;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>