<!-- The starting point of the application -->
<template>
  <div>
    <h1 class="m-4 title">
      Vendere Trestad <span class="sub">- Sälj dina Prylar</span>
    </h1>
    <!-- The components that is shown throughout the application -->
    <navigation></navigation>
    <Banner></Banner>
    <router-view></router-view>
    <foot></foot>
  </div>
</template>
<script>
import navigation from "../components/Navigation.vue";
import foot from "../components/Foot.vue";
import Banner from "../components/Banner";
export default {
  data() {
    return {};
  },
  components: { navigation, foot, Banner },
};
</script>