<!-- The user profile page -->
<template>
  <div class="container">
    <h1 class="m-4">Min Profil</h1>
    <br />
    <br />
    <div>
      <div class="register text-start shadow mb-4">
        <form class="form-control">
          <h2>Redigera uppgifter</h2>

          <br />
          <label for="name" value="Ditt namn">Namn</label> <br />
          <input
            v-model="loggedUser.name"
            type="text"
            id="name"
            placeholder="Ditt namn"
            required="true"
            class="col-md-6 col-form-label text-md-right"
          />
          <br />

          <label for="email" value="Din emailadress">Emailadress</label>
          <br />
          <input
            v-model="loggedUser.email"
            type="email"
            id="email"
            placeholder="Din emailadress"
            required="true"
            class="col-md-6 col-form-label text-md-right"
          />
          <br />

          <label for="password" value="Ditt lösenord">Lösenord</label>
          <br />
          <input
            v-model="loggedUser.password"
            type="password"
            id="password"
            placeholder="Ditt lösenord"
            required="true"
            class="col-md-6 col-form-label text-md-right"
          />
          <br />
          <label for="confirmPassword" value="Upprepa lösenord"
            >Upprepa lösenord</label
          >
          <br />
          <input
            v-model="loggedUser.password_confirmation"
            type="password"
            id="confirmPassword"
            placeholder="Upprepa lösenord"
            required="true"
            class="col-md-6 col-form-label text-md-right"
          />
          <br />
          <label for="municipality" value="Kommun">Kommun</label> <br />
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="inlineCheckbox1"
              value="Vänersborg"
              required="true"
              v-model="loggedUser.municipality"
            />
            <label class="form-check-label" for="inlineCheckbox1"
              >Vänersborg</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="inlineCheckbox2"
              value="Trollhättan"
              required="true"
              v-model="loggedUser.municipality"
            />
            <label class="form-check-label" for="inlineCheckbox2"
              >Trollhättan</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="inlineCheckbox3"
              value="Uddevalla"
              required="true"
              v-model="loggedUser.municipality"
            />
            <label class="form-check-label" for="inlineCheckbox3"
              >Uddevalla</label
            >
          </div>
          <br />
          <label for="telephone" value="Telephone">Telefonnummer</label>
          <br />
          <input
            v-model="loggedUser.telephone"
            type="text"
            id="telephone"
            placeholder="Ditt telefonnummer (frivilligt)"
            required="false"
            class="col-md-6 col-form-label text-md-right"
          />
          <br />
          <p class="error" v-if="errors">{{ errors }}</p>
          <!-- The required inputs must be filled before button is shown -->
          <button
            @click.prevent="updateUser"
            :class="[
              loggedUser.name &&
              loggedUser.email &&
              loggedUser.password &&
              loggedUser.municipality
                ? 'btn-primary'
                : 'btn-inactive',
              'btn m-4 text-white',
            ]"
          >
            Uppdatera uppgifter
          </button>
          <br />
        </form>
      </div>
    </div>
    <button type="button" class="btn btn-success m-4 border-white sell-button">
      <router-link to="/salj" class="link text-white"
        >Lägg upp en ny annons</router-link
      >
    </button>
    <hr />
    <!-- Displays the user's added products  -->
    <h3 class="m-4">Dina upplagda annonser</h3>
    <div v-for="(item, id) in items" :key="id" class="products">
      <user-items :item="item" v-on:reloadList="getItems()"></user-items>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import UserItems from "../components/UserItems.vue";
export default {
  data() {
    return {
      loggedUser: {
        id: "",
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        municipality: "",
        telephone: "",
      },
      items: [],
      errors: "",
    };
  },
  components: { UserItems },
  created() {
    //Get the authenticated user and sets it to the global vuex variable.
    axios
      .get("api/user")
      .then((response) => {
        this.$store.state.user = response.data;
        this.loggedUser = response.data;
      })
      .catch((error) => {
        this.errors = error.response.data.errors;
      });
    this.getItems();
  },
  methods: {
    // Updates the current user with the filled values
    updateUser() {
      console.log(this.loggedUser);
      axios
        .put("api/update/", this.loggedUser)
        .then((response) => {
          if (response.status == 200) {
            alert("Du har uppdaterat dina uppgifter");

            this.errors = null;
            this.loggedUser.password_confirmation = "";
          }
        })
        .catch((error) => {
          console.log(error);
          this.errors = error.response.data.errors;
        });
    },
    //Gets the current user's ads
    getItems() {
      axios
        .get("api/product/user/" + this.$store.getters.user.id)
        .then((response) => {
          this.items = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.errors = error.response.data.errors;
        });
    },
  },
};
</script>
<style>
.profil {
  width: 40%;

  border: 1px solid #212121;
  font-family: "Cabin", sans-serif;
  margin: auto;
}
.link {
  text-decoration: none;
}
.sell-button {
  transform: scale(1.3);
}
</style>