<!-- The page for register new users. -->
<template>
  <div>
    <h1>Registrera ny användare</h1>
    <div class="container p-4">
      <div class="register text-start shadow">
        <form class="form-control">
          <br />
          <label for="name" value="Ditt namn">Namn</label> <br />
          <input
            v-model="newUser.name"
            type="text"
            id="name"
            placeholder="Ditt namn"
            required="true"
            class="col-md-6 col-form-label text-md-right"
            :class="{
              'bg-danger text-white ': !newUser.name,
            }"
          />
          <span class="error" v-if="errors"><br />{{ errors.name[0] }}</span>
          <br />

          <label for="email" value="Din emailadress">Emailadress</label>
          <br />
          <input
            v-model="newUser.email"
            type="email"
            id="email"
            placeholder="Din emailadress"
            required="true"
            class="col-md-6 col-form-label text-md-right"
            :class="{
              'bg-danger text-white ': !newUser.email,
            }"
          />
          <span class="error" v-if="errors"> <br />{{ errors.email[0] }}</span>
          <br />

          <label for="password" value="Ditt lösenord">Lösenord</label>
          <br />
          <input
            v-model="newUser.password"
            type="password"
            id="password"
            placeholder="Ditt lösenord"
            required="true"
            class="col-md-6 col-form-label text-md-right"
            :class="{
              'bg-danger text-white ': !newUser.password,
            }"
          />
          <span class="error" v-if="errors"
            ><br />{{ errors.password[0] }}</span
          >
          <br />
          <label for="confirmPassword" value="Upprepa lösenord"
            >Upprepa lösenord</label
          >
          <br />
          <input
            v-model="newUser.password_confirmation"
            type="password"
            id="confirmPassword"
            placeholder="Upprepa lösenord"
            required="true"
            class="col-md-6 col-form-label text-md-right"
            :class="{
              'bg-danger text-white ': !newUser.password_confirmation,
            }"
          />
          <br />
          <label for="municipality" value="Kommun">Kommun</label> <br />
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="inlineCheckbox1"
              value="Vänersborg"
              required="true"
              v-model="newUser.municipality"
            />
            <label class="form-check-label" for="inlineCheckbox1"
              >Vänersborg</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="inlineCheckbox2"
              value="Trollhättan"
              required="true"
              v-model="newUser.municipality"
            />
            <label class="form-check-label" for="inlineCheckbox2"
              >Trollhättan</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="inlineCheckbox3"
              value="Uddevalla"
              required="true"
              v-model="newUser.municipality"
            />
            <label class="form-check-label" for="inlineCheckbox3"
              >Uddevalla</label
            >
          </div>
          <br />
          <span class="error" v-if="errors"
            >{{ errors.municipality[0] }} <br
          /></span>
          <label for="telephone" value="Telephone">Telefonnummer</label>
          <br />
          <input
            v-model="newUser.telephone"
            type="text"
            id="telephone"
            placeholder="Ditt telefonnummer (frivilligt)"
            required="false"
            class="col-md-6 col-form-label text-md-right"
            :class="{
              'bg-warning text-white ': !newUser.telephone,
            }"
          />
          <br />

          <br />
          <span class="error" v-if="msg">{{ msg }} <br /></span>
          <!-- The required inputs must be filled before button is shown -->
          <button
            @click.prevent="register()"
            :class="[
              newUser.name &&
              newUser.email &&
              newUser.password &&
              newUser.municipality
                ? 'btn-primary'
                : 'btn-inactive',
              'btn m-4  text-white ',
            ]"
          >
            Registrera dig
          </button>
          <br />
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data: function () {
    return {
      newUser: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        municipality: "",
        telephone: "",
      },
      errors: null,
      msg: null,
    };
  },
  methods: {
    register() {
      //Gets a new csrf token to avoid hacker attacks
      axios.get("/sanctum/csrf-cookie").then((response) => {
        axios
          .post("api/user/store", this.newUser)
          .then((response) => {
            if (response.status == 201) {
              alert("Du har skapat ett konto.");
              this.$router.push("/logga-in");
            }
          })
          .catch((error) => {
            console.log(response.message);
            if (error.response.data.errors) {
              this.errors = error.response.data.errors;
            } else {
              this.msg = "Mailadressen verkar redan finnas.";
            }
          });
      });
    },
  },
};
</script>
<style>
.register {
  margin: auto;
  width: 40%;
}
.error {
  color: red;
}
input {
  width: 50%;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
</style>