<!-- The page for register new products. -->
<template>
  <div class="container">
    <h1 class="m-4">Sälj en ny produkt</h1>
    <div class="register sell shadow p-4 text-start">
      <form
        v-on:submit.prevent="submitForm"
        encType="multipart/form-data"
        name="product"
      >
        <label for="productName" class="fw-bold mt-2">Produktnamn</label>
        <input
          type="text"
          class="form-control"
          :class="{
            'bg-danger': !form.product,
          }"
          id="productName"
          placeholder="Produktens namn"
          v-model="form.product"
        />
        <label for="price" class="fw-bold mt-2">Pris</label>
        <input
          type="text"
          class="form-control"
          :class="{
            'bg-danger ': !form.price,
          }"
          id="pris"
          placeholder="Priset i svenska kronor"
          v-model="form.price"
        />
        <label for="condition" class="fw-bold mt-2"> Skick:</label> <br />
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="conditionCheckbox1"
            value="1"
            v-model="form.condition"
          />
          <label class="form-check-label" for="conditionCheckbox1"
            >Använt skick</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="conditionCheckbox2"
            value="2"
            v-model="form.condition"
          />
          <label class="form-check-label" for="conditionCheckbox2"
            >Bra skick</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="conditionCheckbox3"
            value="3"
            v-model="form.condition"
          />
          <label class="form-check-label" for="conditionCheckbox3"
            >Som ny</label
          >
        </div>

        <br />
        <label for="segment" class="fw-bold mt-2">Segment:</label><br />
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="inlineCheckbox1"
            value="1"
            v-model="form.segment"
          />
          <label class="form-check-label" for="inlineCheckbox1"
            >Hem och Fritid</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="inlineCheckbox2"
            value="2"
            v-model="form.segment"
          />
          <label class="form-check-label" for="inlineCheckbox2"
            >Elektronik</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="inlineCheckbox3"
            value="3"
            v-model="form.segment"
          />
          <label class="form-check-label" for="inlineCheckbox2">Fordon</label>
        </div>
        <br />
        <br />
        <label for="image" class="fw-bold">Ladda upp bild</label>
        <br />

        <input
          type="file"
          class="form-control"
          name="image"
          id="image"
          placeholder="Ladda upp en bild på produkten"
          @change="uploadImg"
        />
        <br />
        <label for="description" class="fw-bold mt-2">Beskrivning</label>
        <textarea
          class="form-control"
          :class="{
            'bg-danger': !form.description,
          }"
          rows="7"
          id="description"
          placeholder="Beskrivning av produkten"
          v-model="form.description"
        />
        <!-- Displays input errors -->
        <p class="error" v-if="errors">{{ errors }}</p>
         <!-- The required inputs must be filled before button is shown -->
        <button
          :class="[
            form.product &&
            form.price &&
            form.condition &&
            form.segment &&
            form.description
              ? 'btn-primary'
              : 'btn-inactive text-white',
            'btn m-4 ',
          ]"
        >
          Lägg upp annons
        </button>
      </form>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "PostFormAxios",
  data: function () {
    return {
      form: {
        product: "",
        price: "",
        condition: "",
        segment: "",
        description: "",
        img_URL: "",
        //gets user value from Vuex/store
        user_id: this.$store.getters.user.id,
      },
      selectedFile: null,
      errors: null,
    };
  },
  methods: {
    //Post input data.
    uploadForm() {
      axios
        .post("/api/product", this.form)
        .then((response) => {
          alert("Du har lagt till en ny annons!");
          this.$router.push("/profil");
        })
        .catch((error) => {
          this.errors = error.response.data.errors;
        });
    },
    uploadImg(event) {
      this.selectedFile = event.target.files[0];
    },

    submitForm() {
      //Add default image if not uploaded
      if (this.selectedFile == null) {
        this.form.img_URL = "logoSquare.png";
        this.uploadForm();
      } else {
        // Post image if uploaded, and sets the image URL to the response value.
        const formData = new FormData();
        formData.append("image", this.selectedFile, this.selectedFile.name);
        axios
          .post("/api/image-upload", formData)
          .then((response) => {
            this.form.img_URL = response.data;
          })
          .catch((error) => {
            console.log(error);
            this.errors = error.response.data.errors;
          })
          .then(() => this.uploadForm());
      }
    },
  },
};
</script>
<style>
.sell {
  background-color: white;
  width: 40vw;
}
::placeholder {
  color: white;
}
</style>